:root {
  --red: #E50914;
  --black: #141414;
  --white: #FFF;
  --links: #AAA;
}
/*reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*base elements*/

body {
  background: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white);
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  margin-left: 20px;
  color: var(--red);
  font-family: 'Arial Black', Times;
  font-size: 40px;
}

header nav a {
  text-decoration: none;
  color: var(--links);
  margin-right: 25px;
}

header nav a:hover {
  color: var(--white);
}

/*main movie*/
.main-movie {
  font-size: 16px;
  background:  linear-gradient(to top,#141414, transparent 98%), url('../resources/totoro_banner.jpg');
  /*background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url('../resources/totoro_banner.jpg');*/
  
  height: 560px;
  background-size: cover;
  background-position: center center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-movie .description {
  margin: 10px 0 40px 20px;
}

.main-movie .title {
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: -50px 0 0 25px;
}

.buttons {
  margin-left: 25px;
}

.button {
  background-color: rgba(71, 71, 71, 0.5);
  border: none;
  color: var(--white);

  padding: 15px 50px;
  margin-right: 15px;
  font-size: 12px;

  cursor: pointer;
}

.button:hover {
  background-color: var(--white);
  color: var(--black);
  transition: .3s ease all;
}

.button i {
  margin-right: 8px;
}

.button-play {
  background-color: var(--links);
  color: var(--black);
}

.container {
  margin-left: 15px;
}

.main-movie .container {
  width: 60%;
}

.box-movies {
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.2s;
}

.box-movies:hover{
  transform: scale(1);
  cursor: pointer;
}

.carousel {
  margin: -80px 15px 15px 10px;
  padding-left: 20px;
  
}

.carousel h3{
  margin-left: 10px;
}